

.container { 
    position:relative; max-width: 100% !important; margin: 0 !important; padding: 0 !important; overflow: hidden; height: 20rem;
}
.container video {
    position:relative;
    z-index:0;
    width: 100%;
    margin-top: -20%;
}
.overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    top:0;
    left:0;
    z-index:1;
    padding-top: 2%;
    text-align: center;
    color: #ffffff80
}

.overlay h5{
    line-height: 3vh;
    font-size: 2vh;
}

@media screen and (max-width: 728px){

    .container{
        height: 20%;
    }

    .container video {
        position:relative;
        z-index:0;
        width: 100%;
        margin-top: 0;
    }

    .overlay {
        padding-top: 12%;
    }

    .overlay h5{
        line-height: 2vh;
        font-size: 1vh;
    }

    .overlay img{
        width: 20vw !important;
    }
}

.overlay img{
    width: 10vw;
}

.space{
    background-color: #2d2d2d;
    height: 3rem;
}


.about{
    color: white;
    text-align: center;
    padding: 2rem;
}

.cards{
    background-color: #000000e0;
    border-radius: 1rem;
    padding: 1rem;
    transition: 0.4s;
    margin: 0 0.4rem;
}

.cards.blue:hover{
    background-color: #3e329184;
    transition: 0.2s;
}

.cards.red:hover{
    background-color: #91323284;
    transition: 0.2s;
}

.cards.green:hover{
    background-color: #2e963684;
    transition: 0.2s;
}

.cards.yellow:hover{
    background-color: #91913284;
    transition: 0.2s;
}

.cards a{
    color: white;
}

.li-g{
    border-radius: 1rem !important;
    background-color: #ffffff20;
    color: white;
    margin: 0 0.3rem;
}




.twitch{
    background-image: url("../../assets/twitch.jpg");
    color: white;
    text-align: center;
    
}

.text{
    margin: auto;
}

.purple{
    padding: 2rem;
    background-color: #9d00b987;
}