<div class="body">
    <div class="container">
        <video id="video" autoplay loop [muted]="'muted'">
            <source src="../../assets/r&t-intro-1.mp4" type="video/mp4" />
        </video>
        <div class="overlay">
            <img src="../../assets/Logo.png" alt="">
            <h5>Itt megnézhetitek mivel foglalkozunk és miért lettünk <br> Ricso és a Tirányos</h5>
        </div>
    </div>

    <div class="space">

    </div>

    <div class="about">
        <h1>Kik vagyunk?</h1>

        <div class="row d-flex justify-content-center mt-5">
            <div class="col-12 col-lg-3 cards">
                <img src="../../assets/Logo.jpg" alt="" class="w-100">
                <hr>
                <h3 class="mt-2">Ricsó úr</h3>
                <hr>
                <div class="row">
                    <div class="col-10">
                        <ul class="list-group list-group-horizontal mx-auto w-100">
                            <li class="list-group-item li-g">Alapító</li>
                            <li class="list-group-item li-g">CEO</li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-facebook mt-1" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                          </svg></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 cards">
                <img src="../../assets/Logo.jpg" alt="" class="w-100">
                <hr>
                <h3 class="mt-2">Tirányos úr</h3>
                <hr>
                <div class="row">
                    <div class="col-10">
                        <ul class="list-group list-group-horizontal mx-auto w-100">
                            <li class="list-group-item li-g">Alapító</li>
                            <li class="list-group-item li-g">Vágó</li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-facebook mt-1" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                          </svg></a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 cards">
                <img src="../../assets/Logo.jpg" alt="" class="w-100">
                <hr>
                <h3 class="mt-2">Nono</h3>
                <hr>
                <div class="row">
                    <div class="col-10">
                        <ul class="list-group list-group-horizontal mx-auto w-100">
                            <li class="list-group-item li-g">Szerkeztő</li>
                            <li class="list-group-item li-g">Vágó</li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-facebook mt-1" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                          </svg></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="space">

    </div>

    <div class="twitch">
        <div class="purple w-100">
            <div class="text col-10 col-lg-3">
                <h2>Nézz minket Twitch-en!</h2>
                <p>2022-ben jött el az az idő, hogy úgy döntöttünk elkezdünk streamelni. A kezdetektől folyamatosan fejlődtünk és fejlődünk most is, hogy nektek minél élvezhetőbb streamet tudjunk összehozni.</p>
    
               
    
                <div class="row mt-5">
                    <div class="col-12">
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-joystick" viewBox="0 0 16 16">
                            <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2z"/>
                            <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23z"/>
                        </svg>
                    </div>
                    <div class="col-12 mt-2">
                        Esti / késő délutáni streamek
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>