<div class="loading" *ngIf="!loaded">

  <div class="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>



<div class="container">
    <div class="row">

      <div class="col-12 text-light" *ngIf="!isMobile">
        <div class="row">
          <div class="col-12 col-lg-8">
            <h1>Sorozatok</h1>
          </div>
          <div class="col-12 col-lg-4 float-end text-end">
            <mat-form-field appearance="fill">
              <mat-label>Sorozatok</mat-label>
              <mat-select [(ngModel)]="chosenSeries" name="series">
                <mat-option *ngFor="let series of seriesArray" [value]="series" >
                  {{series}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        
        <hr>
        <mat-tab-group mat-align-tabs="start" >
          <mat-tab *ngFor="let page of getSeriesPageNumber(chosenSeries)" [label]="page.toString()">
            <div class="row w-100 mt-3">
              <div class="col-3" *ngFor="let link of getSeriesLinkByNameAndPage(chosenSeries, page)">
                <app-video-card [link]="link" [isSeries]="true"></app-video-card>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>     
        <hr>     
      </div>

      <div class="col-12 text-light mt-5">
        <div class="row">
          <div class="col-12 col-lg-8 ">
            <h1>Videók</h1>
          </div>
          <div class="col-12 col-lg-4 float-end text-end">
            <form class="example-form" *ngIf="!isAllEmpty">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Játék keresése</mat-label>
                <input type="text"
                       placeholder="Válassz"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto"
                       (ngModelChange)="InputChange($event)"
                       class="text-dark">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <button class="btn btn-success ms-1 search-btn" (click)="getLinkByName()">  
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search mb-1 " viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg> 
                Keresés</button>
            </form>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12 col-lg-3 mb-2" *ngFor="let link of NotSeriesLinks">
            <app-video-card [link]="link"></app-video-card>
          </div>

          <div class="col-12 col-lg-12" *ngIf="isEmpty">
            <div class="alert alert-dark text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg> Jelenleg nincs ilyen videó a csatornán!</div>
          </div>
  
          <div class="col-12 col-lg-12" *ngIf="isAllEmpty">
            <div class="alert alert-dark text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg> Jelenleg nincs videó a csatornán!</div>
          </div>
        </div>
        
      </div>
    </div>
</div>