
.search-btn{
    height: 3.8rem !important;
    margin-bottom: 1.1rem;
}

.container{
    margin-top: 10rem;
}

@media screen and (max-width: 729px) {
    .container {
        margin-top: 6rem;
    }
}

.nav-item{
  width: 100%;

}


.nav a span{
  color :white;

}

.nav li{
  width: 100%;
}

.nav a{
  font-size: 1.2rem !important;
  transition: 0.2s;
  margin-left: 1rem;
}

.nav-item .cal{
  margin-right: 8rem;
}


.nav .nav-item:hover{
  background-color: #ffffff30;
  border-radius: 0.5rem;
  cursor: pointer;

}

.nav-item-mobile .activated{
  background-color: #ffffff30;
  border-radius: 0.5rem;
  cursor: pointer;
}

.menu-mobile{
  background-color: #242526;
  margin-top: -3vh !important;
  padding: 1vh 0 0 0;
  border-bottom: 1px solid #ffffff30;
}

.fixed{
  position: fixed;
  width: 19%;
}

.ms-6{
  margin-left: 3rem;
}
