
<app-loading [loading]="loaded"></app-loading>

<div class="row">
  <div class="col-3">
    <div class="fixed">
      <form class="example-form w-100" *ngIf="!isAllEmpty">
        <mat-form-field class="example-full-width w-100" appearance="fill">
          <mat-label class="text-light">Játék keresése</mat-label>
          <mat-icon matPrefix>search &nbsp; </mat-icon>
          <input type="text"
                [(ngModel)]="selectedGameName"
                 matInput
                 [formControl]="myControl"
                 (ngModelChange)="InputChange($event)"
                 class="text-light">
          <!-- <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete> -->
          <button *ngIf="selectedGameName" matSuffix mat-icon-button aria-label="Clear" (click)="selectedGameName=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <div class="menu">
        <div class="">
            <div class="">
                <div class="">

                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                      <li class="nav-item" [class]="choosenType === 0 ? 'activated' : ''">
                          <a class="nav-link align-middle px-0 text-lg-start text-sm-center " (click)="changeChoosenNumber(0)">
                            <i class="fs-5 bi bi-play-btn ms-1 me-1 text-light"></i> <span class="ms-1 d-none d-sm-inline">Futó</span>
                          </a>
                      </li>
                      <li class="nav-item mt-2" [class]="choosenType === 1 ? 'activated' : ''">
                          <a class="nav-link px-0 align-middle text-lg-start text-sm-center" (click)="changeChoosenNumber(1)">
                            <i class="fs-5 bi bi-stop-btn ms-1 me-1 text-light"></i> <span class="ms-1 d-none d-sm-inline cal" >Befejezett</span>
                          </a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-9 border-left">
    <div class="ms-6">
      <app-registration *ngFor="let link of getChoosenArray()"
        [title]="link.name"
        titleSRC="assets/logo.jpg"
        [html]="link.type[0] + '<br><br>' + toCorrectTime(link.date) + '<br><br>'"
        [videoType]="link.type"
        [img]="PicToBase64(link.picture)"
        btn1 ="Na lássuk!"
        btn1Icon="fa-brands fa-youtube"
        [btn1link]="link.link"
        >
      </app-registration>
    </div>

    <!-- html="A Forza Horizon 5 egy 2021-es versenyautó-videojáték, amelyet a Playground Games fejlesztett és az Xbox Game Studios adott ki. Ez az ötödik Forza Horizon cím és a tizenkettedik főrész a Forza sorozatban. <br> <br> 2021 <br>" -->

  </div>
</div>

