
<div class="admin margin" *ngIf="checking()">
    <body>
      <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="MatTabSelectedIndex">



        <mat-tab label="Esemény kezelése">
          <app-events></app-events>
        </mat-tab>

        <mat-tab label="Játékok kezelése">
          <app-games></app-games>
        </mat-tab>

        <mat-tab label="Sorozat konvertálás">
          <app-series></app-series>
        </mat-tab>

      </mat-tab-group>
        <!-- <div class="container">
          <div class="row">
            <div class="col-12 col-lg-2 mt-2" *ngFor="let page of pages">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="page.disabled">
                <label class="form-check-label text-light" for="flexSwitchCheckDefault"> {{page.route === "" ? "Leállítás" : page.route}} </label>
              </div>
            </div>
            <div class="col-12 col-lg-2">
              <button class="btn btn-primary" (click)="modifyPages()">Mentés</button>
            </div>
          </div>
        </div>

        <hr class="text-light">

        <div class="container ">
          <div class="row d-flex justify-content-center">


            <div class="col-0 col-lg-2 space"></div>






          </div>
        </div>
        <div class="m-lg-5 m-0">
          <table mat-table [dataSource]="dates"  class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Név </th>
              <td mat-cell *matCellDef="let element" [ngClass]="!convertableCheck(element.end) && !element.missing ? 'TOconvert' : element.missing ? 'TOmissing' : ''">
                <span class="th-name" > {{element.game.name}}
                  <button mat-raised-button class="btn text-light"
                        [matTooltip]="convertDate(element.start,'. ') + ' --- ' + convertDate(element.end,'. ',false,true)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </svg>
                  </button>
                </span>


              </td>
            </ng-container>

            <ng-container matColumnDef="functions">
              <th mat-header-cell *matHeaderCellDef class="text-end"> Funkciók </th>
              <td mat-cell *matCellDef="let element" class="text-end">
                <button class="btn btn-success" title="Videóvá konvertálás" (click)="convertDates(element._id)" *ngIf="!convertableCheck(element.end)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                    <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
                  </svg>
                </button>
                <button class="btn btn-primary mx-1 mx-lg-2" title="Esemény módosítása" (click)="dateById(element._id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg>
                </button>
                <button class="btn btn-warning me-1 me-lg-2" title="Esemény lemodása" (click)="missingDate(element,true)" *ngIf="convertableCheck(element.end) && !element.missing">
                  <i class="fa-solid fa-ban"></i>
                </button>
                <button class="btn btn-info me-1 me-lg-2" title="Esemény engedélyezése" (click)="missingDate(element,false)" *ngIf="convertableCheck(element.end) && element.missing">
                  <i class="fa-regular fa-circle-check"></i>
                </button>
                <button class="btn btn-danger" title="Esemény törlése" (click)="deleteDates(element._id)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div> -->

    </body>
</div>
