.container{
    max-width: 100% !important;
    color: white;
}

body {
    background-color: rgba(198, 155, 109, .3);
  }
  #error-404-img {
    max-width: 700px;
    display: block;
    margin: 0 auto;
  }

  #loupe {
    animation: bounceInUp 2s ease forwards;
    }


  #ombre-loupe {
    animation: fadeIn 2s 3s ease forwards;
  }

  #_x34_-gauche, #_x34_-droite, #ombre-loupe, #decorations {
      opacity: 0;
  }

  #_x34_-gauche, #_x34_-droite {
    animation: fadeIn 2s ease forwards;
  }

  #_x34_-gauche {
    animation-delay: 1s;
  }

  #_x34_-droite {
    animation-delay: 2s;
  }

  #decorations {
    transform-origin: center;
    animation: fadeIn 2s ease forwards, rotate-grow 50s linear infinite alternate;
    animation-delay: 4s;
  }

  @-webkit-keyframes rotate-grow {
    from {
         -webkit-transform: rotate(0) scale(.8);
      transform: rotate(0) scale(.8);
    }

    to {
         -webkit-transform: rotate(360deg) scale(1.5);
      transform: rotate(360deg) scale(1.5);
    }
  }

  @keyframes rotate-grow {
    from {
         -webkit-transform: rotate(0) scale(.8);
      transform: rotate(0) scale(.8);
    }

    to {
         -webkit-transform: rotate(360deg) scale(1.5);
      transform: rotate(360deg) scale(1.5);
    }
  }


  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }



  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }


  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }

    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @-webkit-keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }

    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }

    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }

    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0);
    }

    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }

    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }

    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0);
    }

    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
  }

  #Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
    animation: float 1s infinite ease-in-out alternate;
  }
  #Polygon-2 {
    animation-delay: .2s;
  }
  #Polygon-3 {
    animation-delay: .4s;
  }
  #Polygon-4 {
    animation-delay: .6s;
  }
  #Polygon-5 {
    animation-delay: .8s;
  }

  @keyframes float {
    100% {
      transform: translateY(20px);
    }
  }
  @media (max-width: 450px) {
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -250px;
      margin-left: -190px;
    }
    .message-box {
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -190px;
      text-align: center;
    }
  }

  .message-box {
    animation: 1s ease-out 0s 1 slideDown;

    height: 200px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: 50px;
    color: #FFF;
    /* font-family: Roboto; */
    font-weight: 300;
  }

  .box{
    animation: 1s ease-out 0s 1 slideDown;
  }
  .message-box h1 {
    font-size: 60px;
    line-height: 46px;
    margin-bottom: 40px;
  }
  .buttons-con .action-link-wrap {
    margin-top: 40px;
  }
  .buttons-con .action-link-wrap a {
    /* background: #68c950; */

    border-radius: 1rem;
    border:1px solid #f2ff60 ;
    color: #f2ff60;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 25px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px
  }
  .buttons-con .action-link-wrap a:hover {
    /* background: #5A5C6C; */

    border:1px solid #01c66a ;
    color: #01c66a;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }


  .box{
  }

  .svgs{
    margin-top: 50vh;
  }
