.th-name{
    padding: 0.5rem;
    border-radius: 1rem;
    text-shadow: 1px 1px black;
}

.new-model{
    margin: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: #ffffff80;
    padding: 1rem;
}

.Time{
    height: 3.7rem;
}