<body>
    <div class="loader" *ngIf="!eventLoaded">
        <div class="load">
            <strong class="mt-5">Töltés </strong>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>

    <div class="modal" style="margin-top: 20%;" [style]="{display: dialogClose2}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                <span>Információ</span></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dialogClose2 = 'none'"></button>
            </div>
            <div class="modal-body">
              <p>Sajnáljuk, jelenleg nincsen előre tervezett Stream a közeljövőben!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="dialogClose2 = 'none'">Értem</button>
            </div>
          </div>
        </div>
      </div>
        <div class="row text-center">

            <div class="col-3">
                <div class="btn-group">

                      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                        <mat-icon>chevron_left</mat-icon>
                      </button>
                      <button mat-fab color="success" class="mx-3" aria-label="Example icon button with a delete icon" mwlCalendarToday [(viewDate)]="viewDate">
                        <mat-icon>home</mat-icon>
                      </button>
                      <button mat-fab color="primary" aria-label="Example icon button with a delete icon" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                        <mat-icon>navigate_next</mat-icon>
                      </button>
                      
                      
                </div>
            </div>

        </div>

    <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" [viewDate]="viewDate" [events]="events" [weekStartsOn]="1" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>

    <ng-template #customCellTemplate let-day="day" let-locale="locale" let-tooltipPlacement="tooltipPlacement" let-highlightDay="highlightDay" let-unhighlightDay="unhighlightDay" let-eventClicked="eventClicked" let-tooltipTemplate="tooltipTemplate" let-tooltipAppendToBody="tooltipAppendToBody" let-tooltipDelay="tooltipDelay">
        <div class="cal-cell-top">
            <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">
                {{ day.badgeTotal }}</span>
            <span class="cal-day-number">
                {{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        </div>
        <div *ngIf="day.events.length > 0">
            <div *ngFor="let event of day.events; index as i">
                <ng-template *ngIf="i < 1; then showEventsBlock; else showMoreBlock">
                </ng-template>
                <ng-template #showEventsBlock>
                    <div class="cal-events " *ngIf="i < 1" [ngStyle]="{ backgroundColor: event.color.primary, color: event.color.secondary }" [ngClass]="event?.cssClass" (mwlClick)="eventClicked.emit({event: event})" [mwlCalendarTooltip]="event.title | calendarEventTitle: 'monthTooltip':event" [tooltipPlacement]="tooltipPlacement" [tooltipEvent]="event" [tooltipTemplate]="tooltipTemplate" [tooltipAppendToBody]="tooltipAppendToBody" [tooltipDelay]="tooltipDelay">
                        <span class="d-lg-block d-none">{{event.title}}</span>
                    </div>
                </ng-template>
                <ng-template #showMoreBlock>
                    <ng-container *ngIf="i === 1">
                    </ng-container>
                </ng-template>
            </div>
        </div>

    </ng-template>

    <div class="eventDetails" id="eDetails" *ngIf="selectedEvent" [(ngModel)]="selectedEvent">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 d-flex justify-content-center mb-5 mb-lg-0">
                    <img [src]="PicToBase64(selectedEvent.game.picture)" alt="Picture" class="eD-img">
                </div>

                <div class="col-12 col-lg-9">
                    <h1>{{selectedEvent.game.name}}</h1>
                    <h5>{{whichHour(selectedEvent.date)}}</h5>
                    <a class="btn btn-primary btn-Watch" [href]="link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
                        <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
                        <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
                      </svg> Nézd!</a>
                </div>
            </div>
        </div>
    </div>
</body>