
<app-loading [loading]="readyCounter >= 6"></app-loading>

<div class="mt"></div>

<div class="row" *ngIf="StorySeries && !isMobile">
  <div class="col-6 col-lg-3 mt-2" *ngFor="let youtube of StorySeries">
    <app-story [name]="youtube.name" [picture]="youtube.picture" [link]="youtube.link"></app-story>
  </div>
  <div class="col-6 col-lg-3 mt-2" *ngFor="let number of storyNumber">
    <app-story></app-story>
  </div>
</div>

<div class="mt-5"></div>

<div class="registration">
  <div class=" text-center">
    <h1>Ricsó és a Tirányos</h1>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <app-icon [number]="youtube" [class]="'bi-youtube'" link="https://www.youtube.com/channel/UCVxPnFAKMyWtvxodKjg5L2w" [isMobile]="isMobile"></app-icon>
        </div>
        <div class="col-4">
          <app-icon [number]="twitch" [class]="'bi-twitch'" link="https://www.twitch.tv/ricsoesatiranyos/" [isMobile]="isMobile"></app-icon>
        </div>
        <div class="col-4">
          <app-icon number="" [class]="'bi-tiktok'" link="https://www.tiktok.com/@ricsoesatiranyos?lang=hu-HU" [isMobile]="isMobile"></app-icon>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="registration">
  <div class="">
    <app-new-home name="Nézz minket Twitchen!" src="assets/logo.jpg" width="50" margin="0rem 0rem 0rem 1rem"> </app-new-home>
  </div>
  <hr>
  <div class="text-light mb-3">
    <div *ngIf="getNextStreamName(nextStream)">
      A következő stream: <br><br>
      <span class="fw-bold fs-3">{{getNextStreamName(nextStream)}}</span>
      <br><br>
      {{convertToDateTime(nextStream.start,"month")}} {{convertToDateTime(nextStream.start,"date") }}<br>
      <i class="fa-regular fa-clock"></i>
      {{convertToDateTime(nextStream.start,"time")}} - {{convertToDateTime(nextStream.end,"time") }}
    </div>
    <div *ngIf="!getNextStreamName(nextStream)">
      Nincs tervetett stream
      <br>
      <br>
      Viszont bármikor elkezdődhet egy. Figyeljétek a Discord szerverünket!
    </div>
  </div>
  <div class="twitchTV">
    <iframe [src]="safeSrc" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
  </div>
  <hr>
  <div class="row">
    <div class="col-4 text-center" (click)="goTo('twitch')">
      <div class="button fs-lg-5 fs-sm-1 ">
        <i class="fa-regular fa-circle-play"></i> Nézd
      </div>
    </div>
    <div class="col-4 text-center" routerLink="/menetrend">
      <div class="button fs-lg-5 fs-sm-1">
        <i class="fa-regular fa-calendar-days"></i> {{!isMobile ? "Menetrend" : "Menet.."}}
      </div>
    </div>
    <div class="col-4 text-center" routerLink="/sorozatok">
      <div class="button fs-lg-5 fs-sm-1 ">
        <i class="fa-solid fa-film"></i> {{!isMobile ? "Sorozatok" : "Soroz.."}}
      </div>
    </div>
  </div>
</div>

<app-registration
  title="Lemaradtál a közvetítésekről?"
  titleSRC="assets/logo.jpg"
  html="Rendszeresen feltesszük a VOD-okat a Youtube csatornánkra, hogy vissza tudjátok nézni a streameket, <br> vagy ha lemaradtatok róla akkor meg tudjátok ott nézni a vágatlan anyagot.
  <br>
  <br>
  Ha a legjobb pillanatokra vagytok kiváncsiak, vagy tényleg csak a lényeget kiragadott videókat szeretnétek megnézni, akkor az a Highlights csatornán tudjátok megtenni.
  <br>
  <br>
  Továbbá nézzétek a Tiktok csatornánkat is ha a legjobb jelenetekre vagy kiváncsiak"
  img="assets/y-wallpaper.png"
  btn1 ="VOD csatorna"
  btn1Icon="bi bi-youtube"
  btn1link="https://www.youtube.com/channel/UCVxPnFAKMyWtvxodKjg5L2w"

  btn2 ="Fő csatorna"
  btn2Icon="bi bi-youtube"
  btn2link="https://www.youtube.com/channel/UC4x9Z4hBYFKuoqBFI6qRbAQ"

  btn3 ="Tiktok"
  btn3Icon="bi bi-tiktok"
  btn3link="https://www.tiktok.com/@ricsoesatiranyos?lang=hu-HU"
  >
</app-registration>

<app-registration
  title="Csatlakozz hozzánk!"
  titleSRC="assets/logo.jpg"
  html="Szeretnél minél több infót megtudni a csatornáról és rólunk? Nem akarsz lemaradni a friss hírekről és a streamekről?
  <br>
  <br>
  Csatlakozz a Discord szerverünkhöz és légy részese a közösségnek!"
  img="assets/dc-wallpaper.png"
  btn1 ="Discord"
  btn1Icon="bi bi-discord"
  btn1link="https://discord.gg/QfGJh46n5H"
  >
</app-registration>




<div class="footerCopy">
    Copyright © 2022 RicsoesaTiranyos. Minden jog fenntartva. All rights reserved.
</div>
