.about{
    color: white;
    margin-top: -10%;
}

.alerter{
  border-radius: 1rem;
  margin: 2% 0%;
  padding: 2%;
  border: 2px solid #fff;
  font-size: 2em;
  text-align: center;
  background-color: #ffffff40;
}

.alerter .number{
  font-weight: bold;
  animation: colorRotate 5s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
.subs{
    height: 10rem;
}

.sub{
    padding: 1rem;
    margin-top: 1rem;
}
.sub a{
    text-decoration: none;
    color: white;
}

.sub a:hover{
    text-decoration: none;
    color: white;
}

.main{
    background-image: url("../../assets/main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 55vh;
    padding-top: 20vh;

}

@media screen and (max-width: 980px) {
    .main{
        height: 30vh;
    }

    .main h1{
        font-size: 2rem !important;
    }

    .event .bordered{
        border-right: none !important;
        border-bottom: 1px solid #ffffff60;
    }
}

.event .bordered{
    border-right: 1px solid #ffffff60;
}

.main h1{
    font-size: 6vh;
}

.twitchDiv{
    background-image: linear-gradient(to left, #72139ba8, #72139ba8), url("../../assets/twitch.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    padding: 3rem;
}

.twitch-div{
    background-image: linear-gradient(to left, #72139ba8, #72139ba8), url("../../assets/twitch.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 0 0 1rem 1rem;
    padding: 3rem;
}

.youtubeDiv{
    background-image: linear-gradient(to left, #9f4b4ba8, #9f4b4ba8), url("../../assets/y_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 30%;
    padding: 3rem;
    height: 100%;
    border-radius: 2rem 0;

    animation: moving 40s infinite ease-out ;
}

@keyframes moving {
  0%{
    background-position: 100% 30%;
  }
  50%{
    background-position: 50% 30%;
  }
  100%{
    background-position: 100% 30%;
  }
}

@keyframes moving2 {
  0%{
    background-position: 0% 30%;
  }
  50%{
    background-position: 40% 30%;
  }
  100%{
    background-position: 0% 30%;
  }
}

.discordDiv{
  background-image: linear-gradient(to left, #404bc0a8, #283caba8), url("../../assets/d_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 20% 30%;
  padding: 3rem;
  height: 100%;
  border-radius: 0 2rem;

  animation: moving2 40s infinite ease-out;
}

.twitch-text{
    padding: 1rem;
    background-color: #2d2d2d;
    border-radius: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.twitch-tv{
    background-color: #764ba2;
    /* border-radius: 2rem; */
    padding: 1rem;
}

.twitch-closest-stream{
    border: #111111;
}

.padding{
    padding: 2rem;
}

.twitch-closest-stream-header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}


.youtubeDiv .header{
    text-shadow: 1px 2px black;
}

.main{
    text-shadow: 1px 2px black;
}

.header{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.headerH5{
    margin-top: 1rem;
    font-size: 1.5rem;
}

iframe{
    width: 100%;
    height: 100%;
}

.header h1{
    font-size: 8vh;
}

.header .calBtn{
    margin-top: 3rem;

    background-color: #00000050;
    color: white;
    padding: 1.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;

    background-size: 300% 100%;
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
    transition: all .4s ease-in-out;
}

.header .vidBtn{
    margin-top: 3rem;

    background-color: #00000050;
    color: white;
    padding: 1.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;

    background-size: 300% 100%;
    background-image: linear-gradient(to right, #eac966, #ba6c52, #d6c96b, #d77a37);
    box-shadow: 0 4px 15px 0 rgba(255, 0, 0, 0.75);
    transition: all .4s ease-in-out;
}

.header .dicBtn{
  margin-top: 3rem;

  background-color: #00000050;
  color: white;
  padding: 1.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;

  background-size: 300% 100%;
  background-image: linear-gradient(to right, #6673ea, #313493, #44539e, #248aa1);
  box-shadow: 0 4px 15px 0 rgba(32, 141, 188, 0.75);
  transition: all .4s ease-in-out;
}

.header .vidBtn:hover, .header .dicBtn:hover{
    /* background-color: #00000050;
    color: #A970FF;
    border: 1px solid #A970FF;
    padding: 1.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 2rem; */

    background-position: 100% 0;
    transition: all .4s ease-in-out;
}


.header .calBtn:hover{
    /* background-color: #00000050;
    color: #A970FF;
    border: 1px solid #A970FF;
    padding: 1.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 2rem; */

    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

.closestStream{
    background-color: #2d2d2d;
    margin: 2rem;
    padding: 2rem;
    width: 100%;
    height: 90%;

    border-radius: 0.4rem;
    transition: 0.3s;
}

.event{
    border-radius: 1rem;
    border: 1px solid black;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #ffffff50;
}

.twitchStream{
  width: 100%;
  height: 90%;
  margin-top: 2rem;


    /* margin: 2rem;
    padding-right: 2rem;

    border-radius: 0.4rem;
    transition: 0.3s; */
}

.closestStream:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.date{
    color: #ffffff90;
    font-size: 1.5rem;
    text-align: end !important;
    float: right !important;
}


.footer{
    color: white !important;
    text-align: center;
    background-color: #ffffff20;
}

.footer img{
    width: 20vh;
}
.footerCopy{
    color:white;
    text-align: center;
    padding: 0.5rem;
}

.spacer{
    height: 3rem;
    width: 100%;
    background-color: #2d2d2d;
}


.card{
    background-color: #2d2d2d !important;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 100%;
    text-shadow: none !important;
}

.ClickableLink{
  cursor: pointer;
}




.registration{
  background-color: #242526;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.registration hr{
  background-color: #ffffff80;
  z-index: 0;
}

.registration h1{
  text-shadow: 1px 1px 0px black;
  color:white;
}

.registration .border{}

.button{
  border-radius: 0.5rem;
  transition: 0.3s;
  padding: 0.5rem;
  color: white;
}

.button:hover{
  transition: 0.1s;
  background-color: #ffffff30;
  cursor: pointer;
}
