
.header{
    position: fixed;
    z-index:100;
    top: 10px;
    width: 100%;
    height: 5rem;
}

.nav{

    background-color: #3b3b3b;
    margin: 3%;
    margin-top: 0.5%;
    padding: 1rem;
    border-radius: 1rem;

}

.navHeader{
    color: white !important;
    padding-right: 1rem;
}

.nav-link{
    color:white !important;
    transition: 0.5s;
}

.nav-link:hover{
    color: #c6e46c !important;
    letter-spacing: 0.1rem;
    transition: 0.5s;
}


.tw-btn:hover{
    color: white !important;
    border-color: none !important;
    background-color: #803af0 !important;
}

.tw-btn{
    border-color: #803af0 !important;
    color: #803af0 !important;
}



.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 0.3rem 0.2rem;
    border: 1px solid rgb(153, 153, 153);
    opacity: 0;
    z-index: 100;
    transition: all .5s ease-in-out;
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .5s ease-in-out;
    border-radius: 2rem;
    background-color: #ffffffd0 !important;
   }

   .show-scrollTop:hover {
    opacity: 1;
    transition: all .2s;
    margin-bottom: 0.5rem;
    background-color: #9c9c9ce2 !important;
   }
