<div class="loading" *ngIf="loading">

  <div class="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>


<div *ngIf="!checkMaintenance()">

  <div class="header">

    <nav class="navbar navbar-expand-lg navbar-light nav">
      <div class="container-fluid">
        <a class="navbar-brand navHeader" [routerLink]="pages[0].route">RicsoesaTiranyos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
            <li class="nav-item " *ngFor="let page of pages; index as i">
              <a class="nav-link" aria-current="page" [routerLink]="page.route" *ngIf="page.name != 'home' && !page.disabled">
                <i [class]="logos[i]"></i>
                {{page.title}}
              </a>
            </li>
          </ul>
          <form class="d-flex">
            <a class="btn btn-outline-primary" [href]="face">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a class="btn btn-outline-info mx-2 tw-btn" [href]="twitch">
              <i class="fa-brands fa-twitch mt-1"></i>
            </a>
            <a class="btn btn-outline-danger" [href]="youtube">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a class="btn btn-outline-warning ms-2" [href]="insta">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>

<app-maintenance *ngIf="checkMaintenance()">
</app-maintenance>

<router-outlet *ngIf="!checkMaintenance()" class="body">
</router-outlet>

<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scroll()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="25" fill="currentColor" class="bi bi-caret-up mb-1" viewBox="0 0 16 16">
      <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
    </svg>
  </button>
</div>