
.navbar{
  background-color: #242526;
  color: white;
  font-size: 1.5em;
  padding: 0.5rem 0rem 0.5rem 2rem;
  font-weight: bolder;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid #ffffff40;

  position: fixed;
  z-index: 900;
  width: 100%;
}

.menu{
  margin-top: 6rem;
  position: fixed;
}


.nav a span{
  color :white;

}

.nav li{
  width: 100%;
}

.nav a{
  font-size: 1.2rem !important;
  transition: 0.2s;
}

.nav-item .cal{
  margin-right: 8rem;
}


.title{
  font-size: 4vh;
}

.title-mobile{
  font-size: 5vw;
}

.margin-top-6{
  margin-top: 6vh;
}


.none{
  width: auto !important;
}

.none span{
  display: none !important;
}

.title-none{
  display: none;
}


.container{
  max-width: 100% !important;
  margin: 0 !important;
}

.about{
  position: fixed;
  margin-top: 6rem;
}

.about-title{
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: white;
  font-size: 1.2em;
}

.aboutNone{
  display: none;
}

.zindex{
  z-index: 800;
}

.margin{
  margin-top: 6rem;
}



.row{
  height: 100vh !important;
}

.margin-top{
  margin-top: 10rem !important;
}

.icon-logo{
  margin-top: -0.5rem;
}

.nav{
  height: 0% !important;
}
