<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9">
      <table mat-table [dataSource]="dates" class="mat-elevation-z8 w-100 mt-4">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Név </th>
          <td mat-cell *matCellDef="let element" [ngClass]="!convertableCheck(element.end) && !element.missing ? 'TOconvert' : element.missing ? 'TOmissing' : ''">
            <span class="th-name" > {{element.game.name}}
              <button mat-raised-button class="btn text-light"
                    [matTooltip]="convertDate(element.start,'. ') + ' --- ' + convertDate(element.end,'. ',false,true)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg>
              </button>
            </span>


          </td>
        </ng-container>

        <ng-container matColumnDef="functions">
          <th mat-header-cell *matHeaderCellDef class="text-end"> Funkciók </th>
          <td mat-cell *matCellDef="let element" class="text-end">
            <button class="btn btn-primary mx-1 mx-lg-2" title="Esemény módosítása" (click)="dateById(element._id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
              </svg>
            </button>
            <button class="btn btn-warning me-1 me-lg-2" title="Esemény lemodása" (click)="missingDate(element,true)" *ngIf="convertableCheck(element.end) && !element.missing">
              <i class="fa-solid fa-ban"></i>
            </button>
            <button class="btn btn-info me-1 me-lg-2" title="Esemény engedélyezése" (click)="missingDate(element,false)" *ngIf="convertableCheck(element.end) && element.missing">
              <i class="fa-regular fa-circle-check"></i>
            </button>
            <button class="btn btn-danger" title="Esemény törlése" (click)="deleteDates(element._id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="col-12 col-lg-3">
      <div class=" newEvent mt-4 mx-auto">
        <div class="row">
          <div class="col-12 col-lg-12 text-center">
            <h3 *ngIf="!isModify">Új esemény hozzáadása</h3>
            <h3 *ngIf="isModify">Esemény módosítása</h3>
          </div>

        </div>
        <div class="mb-4"></div>
        <hr>
        <div class="row">
          <div class="col-12">
            <mat-form-field appearance="fill">
              <mat-label>Stream kezdete és vége</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Kezdete" [(ngModel)]="newEventTMPdateStart">
                <input matEndDate placeholder="Vége" [(ngModel)]="newEventTMPdateEnd">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-4">
            <div class="input-group mb-3">

              <mat-form-field>
                <input matInput class="timepicker " [ngxTimepicker]="toggleIcon" [format]=24 minutesGap="2" placeholder="Kezdete" [(ngModel)]="newEventTMPstart" step="00:15" required>
              </mat-form-field>

              <ngx-material-timepicker #toggleIcon
                  [minutesGap]="15"
                  [theme]="darkTheme"
                  (timeChanged)="onChangeTime($event)"
                  >

              </ngx-material-timepicker>
            </div>
          </div>


          <div class="col-4">
            <div class="input-group mb-3">
              <mat-form-field>
                <input matInput class="timepicker " [ngxTimepicker]="toggleIcon2" [format]=24 placeholder="Vége" [defaultValue]="newEventTMPstart" [(ngModel)]="newEventTMPend" step="00:15" required>
              </mat-form-field>

              <ngx-material-timepicker #toggleIcon2
                  [minutesGap]="15"
                  [theme]="darkTheme"
                  >

              </ngx-material-timepicker>
            </div>
          </div>


        </div>

        <hr>

        <div class="col-12">
          <mat-form-field appearance="fill">
            <mat-label>Válassz egy játékot!</mat-label>
            <mat-select required [(ngModel)]="tmpGameId" #gameId>
              <mat-option *ngFor="let game of games" [value]="game._id" #optvalue>
                {{checkLength(game.name,24)}}
                <button class="btn float-end mt-3" [style]="{backgroundColor: game.color, border: '1px solid black'}" disabled> </button>

              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <button class="btn btn-success mx-auto" (click)="saveDates()">Hozzáadás</button>
              <button class="btn btn-primary mx-auto" *ngIf="isModify" (click)="modifyDate()">Módosítás</button>
            </div>
            <div class="col-12 d-flex justify-content-center mt-2" *ngIf="numberOfDates !== 0 ? true : false">
              <button mat-raised-button class="btn btn-danger mx-auto" (click)="DeletePastStreams()"
                  [matBadge]="numberOfDates" matBadgePosition="after" matBadgeColor="primary">
                  Volt események törlése
              </button>
            </div>
          </div>
        </div>

        <div class="col-12 mt-3">
          <div class="alert alert-success text-center" *ngIf="OKmessage">Sikeres művelet!</div>
          <div class="alert alert-danger text-center" *ngIf="errorMessage">Hiba van a rendszerben!</div>
        </div>

      </div>
    </div>
  </div>
</div>
