.tab{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.cards{
    background-color: #353535;
    color: #fff;
    padding-top: 1rem;
    margin: 0 auto;
}

.cards .img{
    width: 80%;
    margin: 0 auto;
}

.cards ul li{
    margin: 0.5rem 0;
}

.row{
    width: 90%;
}
