<div class="container text-light">

  <div class="row">
    <div class="col-3 text-center bordered">
      <h1>Oldalak</h1>
        <div class="row" *ngFor="let page of pages">
          <div class="form-check form-switch" *ngIf="page.name !== 'home'">
            <input class="form-check-input" type="checkbox" [id]="page.name" [(ngModel)]="page.disabled">
            <label class="form-check-label" for="flexSwitchCheckDefault">{{page.title}}</label>
          </div>
        </div>
        <div class="text-end mt-3">
          <button class="btn btn-success mt-2" (click)="savePages()">Mentés</button>
        </div>
    </div>
    <div class="col-9">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="TODO - MEG KELL CSINÁLNI!" >
          
        </mat-tab>
        
      </mat-tab-group>
    </div>
  </div>

</div>


