/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body{
    background-image: radial-gradient(#242222, #242222) !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.cal-month-view{
    background-color: #ffffff10 !important;
    color: white !important;
    margin: 2%;
}
.cal-today{
    background-color: #73ff7818 !important;
}

.cal-cell-row:hover{
    background-color: #ffffff10 !important;
}

.cal-day-cell:hover{
    background-color: #ffffff20 !important;
}

.cal-day-number{
    color: #fffffff0 !important;
}

.cal-weekend .cal-day-number{
    color: #ff0000f0 !important;
}

.cal-cell:hover{
    background-color: #ffffff00 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-label{
    color: white !important;
}

.mat-table{
    background-color: #ffffff20 !important;

    color: white !important;
}

.mat-header-cell{
    color: #ffffff90 !important;
}

.mat-cell{
    color: white !important;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1.2em !important;
}

app-add-to-calendar button{
    margin-left: 1rem !important;
    height: 2rem;
}