/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body{
    background-image: radial-gradient(#242222, #242222) !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.cal-month-view{
    background-color: #ffffff10 !important;
    color: white !important;
    margin: 2%;
}
.cal-today{
    background-color: #73ff7818 !important;
}

.cal-cell-row:hover{
    background-color: #ffffff10 !important;
}

.cal-day-cell:hover{
    background-color: #ffffff20 !important;
}

.cal-day-number{
    color: #fffffff0 !important;
}

.cal-weekend .cal-day-number{
    color: #ff0000f0 !important;
}

.cal-cell:hover{
    background-color: #ffffff00 !important;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-label{
    color: white !important;
}

.mat-table{
    background-color: #ffffff0b;
    color: white !important;
}

.mat-header-cell{
    color: #ffffff90 !important;
}

.mat-cell{
    color: white !important;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1.2em !important;
}

app-add-to-calendar button{
    height: 2rem;
}

.loading{
    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #00000090;
    justify-content: center;
    color:white;
    padding: 20%;
}


.loader {
	position: relative;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 2px;
	width: 100px;
	height: 100px;
}

.loader div {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(107, 40, 178);
    transform: scale(0.0);
    transform-origin: center center;
    animation: loader 2s infinite linear, rainbow-bg 10s infinite linear;
}

@keyframes rainbow-bg{
    100%,0%{
        background: rgb(255,0,0);
    }
    8%{
        background: rgb(255,127,0);
    }
    16%{
        background: rgb(255,255,0);
    }
    25%{
        background: rgb(127,255,0);
    }
    33%{
        background: rgb(0,255,0);
    }
    41%{
        background: rgb(0,255,127);
    }
    50%{
        background: rgb(0,255,255);
    }
    58%{
        background: rgb(0,127,255);
    }
    66%{
        background: rgb(0,0,255);
    }
    75%{
        background: rgb(127,0,255);
    }
    83%{
        background: rgb(255,0,255);
    }
    91%{
        background: rgb(255,0,127);
    }
}

.loader div:nth-of-type(7) {

}

.loader div:nth-of-type(1),
.loader div:nth-of-type(5),
.loader div:nth-of-type(9){  
    animation-delay: 0.4s;
}

.loader div:nth-of-type(4),
.loader div:nth-of-type(8) {
    animation-delay: 0.2s;
}
.loader div:nth-of-type(2),
.loader div:nth-of-type(6) {
    animation-delay: 0.6s;
}
.loader div:nth-of-type(3) {
    animation-delay: 0.8s;
}


@keyframes loader {
	0%   { transform: scale(0.0); }
	40%  { transform: scale(1.0); }
	80%  { transform: scale(1.0); }
	100% { transform: scale(0.0); }
}

.home-btn:hover{
    background-color: #008f00 !important;
    color: white !important;
    border: 2px solid white !important;
    transition: 0.3s;
}

.home-btn{
    color: #008f00 !important;
    background: none !important;
    border: 2px solid #008f00 !important;
    transition: 0.3s;
}

.prev-btn:hover{
    color: #3021bb !important;
    background: none !important;
    border: 2px solid #3021bb !important;
    transition: 0.3s;
}

.prev-btn{
    background-color: #3021bb !important;
    color: white !important;
    /* border: 2px solid white !important; */
    transition: 0.3s;
}

.mat-form-field-flex{
    background-color: #ffffffb0 !important;
}

.mat-accent .mat-slider-track-fill {
    background-color: white !important;
}

.mat-slider-thumb-label {
    background-color: white !important;

}

.mat-slider-thumb {
    background-color: white !important;
}

.mat-form-field-flex{
    color: white !important;
    background-color: #ffffff10 !important;
}

.mat-form-field-flex input ::placeholder{
    color: white !important;
}

.mat-form-field-infix{
    color: white !important;
}